/*
 Theme Name:   Twenty Twenty Child
 Description:  Twenty Twenty Child Theme
 Template:     twentytwenty
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  twentytwentychild
*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.entry-content .entry-meta {
  font-size: 16px;
}
